body {
    margin: 0 auto;
    background: #737373;
}
h1 {
    font-style: 50px;
    padding: 25px;
    border: double 5px #e53238;
}
p {
    font-style: 25px;
    border-right: bold;
    color: #330000;
}
